<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/styles.css">
    <title>Feed</title>
</head>
<body class="body">
    <div class="navbar">
        <a href="/">Home</a>

        <div class="dropdown">
          <button class="dropbtn">Menu &#9660;</button>
          <div class="dropdown-content">
            <a href="/signup">Sign up</a>
            <a href="/login">Login</a>
            <a href="/feed">Feed</a>
            <a href="/profile/{{ username }}">Profile</a>
            <a href="#" onclick="logout(); return false;">Logout</a>
          </div>
        </div>
        <div class="logo">SuperBlog</div>
    </div>

    <div class="poster">
        Text:<br> 
        <input type="text" id="text"><br><br>
        <button class="button" onclick="post()">Post</button><br>
    </div>

    <div id="divResults"></div>
    <div id="divReplies"></div>

    <script src="static/script.js"></script>
    <script>list_posts();</script>
</body>
</html>